{% extends 'layout.tmpl' %}

{% block pre %}
  <script type='text/javascript'>
   /* Filename: katago-gui/about.tmpl
    * Author: AHN
    * Creation Date: Jul, 2020
    */
  </script>
{% endblock pre %}

{% block css %}
  <meta name='viewport' content='width=device-width, initial-scale=1'>
{% endblock %}

{% block content %}
  <table align='center'>
    <tr><td class='text-center'> &nbsp; </td></tr>
    <tr><td class='text-center'> <h1> About </h1> </td></tr>
    <tr><td><pre>
This is the OpenCL version of KataGo 1.6.1
running on 12 threads on an NVIDIA RTX 2080.
It plays well against higher handicaps, and
komi can be adjusted freely.

Credits:
---------

KataGo, by David J. Wu, is here:
https://github.com/lightvector/KataGo

Go data structures were pilfered from the
book 'Deep Learning and the Game of Go'
by Max Pumperla and Kevin Ferguson.

The Go board is jGoBoard by
Joonas Pihlajamaa.

Chinese translations were provided by
Xiaocheng Stephen Hu.

Japanese translations were provided by
Satoshi Banya.

Plumbing and glue is by me:

Andreas Hauenstein
hauensteina@gmail.com
https://github.com/hauensteina/katagui
</pre>
    </td></tr>
  </table>
{% endblock content %}
