{% extends 'layout.tmpl' %}

{% block pre %}
  <script type='text/javascript'>
   /* Filename: katago-gui/help.tmpl
    * Author: AHN
    * Creation Date: Jul, 2020
    */
  </script>
{% endblock pre %}

{% block content %}
  {% if mobile %}
    <table style='max-width:90vw; font-size:24pt;'>
  {% else %}
      <table class='center' style='max-width:700px'>
  {% endif %}
  <tr><td class='text-center'> &nbsp; </td></tr>
  <tr><td class='text-center'> <h1> Help </h1> </td></tr>
  <tr><td>1. Click New Game </td></tr>
  <tr><td>2. Choose Komi and Handicap </td></tr>
  <tr><td>3. Go! </td></tr>
  <tr><td>
    <br>
      <ul style='text-align:left;'>
        <li><strong>Mobile</strong> &mdash; This app works well on a phone or tablet.
          Big buttons for fat fingers. No need for a computer.
        </li>
        <li><strong>The Bot</strong> &mdash;
          This is KataGo 1.4.5 .
          KataGo copes well with large handicaps and
          can play against variable komi.
        </li>
        <li><strong>Scoring</strong> &mdash; KataGo has a concept of territory. The score button will give you the current
          KataGo estimate.
        </li>
        <li><strong>What Would KataGo Do</strong> &mdash; The Best button shows you the best moves.
        </li>
        <li><strong>Review</strong> &mdash; Load any sgf file, click First, then keep hitting Next. Look at the Emoji.
        </li>
        <li><strong>Analysis and Variations</strong> &mdash; Click on the Back button to navigate to
          the position you want to analyze. Click Play repeatedly to see what KataGo would do. The app will automatically start a variation.
          Click 'Back to Main Line' to get out of the variation.
        </li>
        <li><strong>Opening</strong> &mdash; You do not have to start with the empty board. Put any opening you like on the board
          before clicking Play.
          You can also preload a game with the Load Sgf button and continue from any point.
        </li>
      </ul>
    </td></tr>
  </table>
{% endblock content %}
