{% extends 'layout.tmpl' %}

{% block pre %}
  <script type='text/javascript'>
   /* Filename: templates/index.tmpl
    * Author: AHN
    * Creation Date: Jan, 2020
    * Desktop web interface to play against KataGo.
    */
  </script>
{% endblock pre %}

{% block css %}
  <script type="text/javascript">
   if (axutil.isMobile()) { document.location.href = '/index_mobile' }
  </script>
  <style>
   /* CSS SLIDER from https://www.w3schools.com/howto/howto_css_switch.asp */
   /*----------------------------------------------------------------------*/

   /* The switch - the box around the slider */
   .switch {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 16px;
   }

   /* Hide default HTML checkbox */
   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }

   /* The slider */
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #aaaaaa;
     -webkit-transition: .1s;
     transition: .1s;
   }

   .slider:before {
     position: absolute;
     content: "";
     height: 13px;
     width: 13px;
     left: 2px;
     bottom: 2px;
     background-color: white;
     -webkit-transition: .1s;
     transition: .1s;
   }

   input:checked + .slider {
     background-color: #2196F3;
   }

   input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
   }

   input:checked + .slider:before {
     -webkit-transform: translateX(13px);
     -ms-transform: translateX(13px);
     transform: translateX(13px);
   }

   /* Rounded sliders */
   .slider.round {
     border-radius: 9px;
   }

   .slider.round:before {
     border-radius: 50%;
   }
  </style>
{% endblock css %}

{% block content %}
  <br>
  <table class='center'>
    <tr>
      <td width='500px'>                      <!--left-->
        <div class='container'>
          <br>
          <table class='center'>
            <tr><td id='donating'>
              {{ donation_blurb(mobile=false) }}
            </td></tr>
            <tr><td align='center'>
              <br>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="T322ZZH9TKMMN" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
                       title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </td></tr>
          </table>
          <table class='center'>
            <tr><td colspan='2' style='font-weight:bold'>{{tr('Top Three Donors')}}</td></tr>
            <tr><td align='left'>Darrell Malick</td> <td align='right'> &nbsp; 100 </td>  </tr>
            <tr><td align='left'>Tobias Berben</td> <td align='right'> &nbsp; 50 </td>  </tr>
            <tr><td align='left'>Stefan Kaitschick</td> <td align='right'> &nbsp; 50 </td>  </tr>
          </table>
          <br>
          <div class='row'>
            <div class='col-12 text-center'>
              <label id='btn_new'  class='btn btn-outline-dark' data-toggle='modal' data-target='#handiModal'
                     style='font-size:11pt'>
                {{ tr('New Game') }}
              </label>
              {% if current_user.data['username'].strip().lower() == 'acm' %}
                &nbsp;
                <label id='btn_watch' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Watch')}}</label>
              {% endif %}
            </div>
          </div>
          <div class='row'>
            <div id='game_info' class='col-12 text-center' style='font-size:10pt'> </div>
          </div>
          <div class='row'>
            <div id='fname' class='col-12 text-center' style='font-size:10pt'> </div>
          </div>
          <div class='row'>
            <div class='col-12'>
              <span id='lb_komi' style='font-size:9pt'>&nbsp;</span>
            </div>
          </div>
          <div class='row'>
            <div id='board' class='col-12 text-center'> </div>
          </div>
          <div class='row justify-content-center'>
            <table class='center' width='100%'>
              <tr>
                <td id='movenum' align='center' style='font-size:13pt' width='30%'> &nbsp;</td>
                <td id='status' align='center' style='font-size:13pt' width='40%'> &nbsp;</td>
                <td id='emo' align='center' style='font-size:30pt' width='30%' height='60px'> &nbsp;</td>
              </tr>
            </table>
          </div>
        </div>                <!--col-12-->
        </div>                  <!--row-->
        </div>                    <!--container-->
      </td>
      <td style='vertical-align:top' width='300px'>                      <!--right-->
        <div class='container' >
          <div class='row' style='font-size:40pt'>
            <div class='col-12'>
              &nbsp;
            </div>
          </div>
          <div class='row'>
            <div class='col-5'>
              <img id='img_bot' src='static/kata.png' style='height:120px'>
            </div>
            <div class='col-6' style='font-size:11pt'>
              <div id='descr_bot'>
                KataGo 20 blocks<br>2020-05-30
              </div>
              <br>
              <a id='settings' class='glink' href="{{ url_for('settings') }}" style='font-size:12pt;text-align:right;'>{{tr('Settings')}}</a>
            </div>
          </div>
          <!-- Space on top of buttons -->
          <div class='row' style='font-size:20pt;height:300px'>
            <div class='col-12'>
              &nbsp;
            </div>
          </div>
          <div class='row justify-content-center'>
            <!-- <div class='col-12'> -->
            <table style='padding:0px'>
              <tr><td style='margin:0'>
                <label class='switch'>
                  <input id='opt_auto' type='checkbox'>
                  <span class='slider round'></span>
                </label>
              </td><td style='margin:0'>&nbsp;</td>
              </tr>
              <tr style='transform:translate(0,-8px)'>
                <td style='padding:0;margin:0'>
                  <label id='btn_play' class='btn btn-outline-dark' style='font-size:11pt;'>{{ tr('Play') }}</label>&nbsp;
                </td>
                <td style='padding:0;margin:0'>
                  <label id='btn_best' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Best')}}</label>
                </td>
              </tr>
            </table>
            <!-- </div> -->
          </div>
          <div class='row justify-content-center'>
            <label id='btn_undo' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Undo')}}</label>&nbsp;
            <label id='btn_pass' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Pass')}}</label>&nbsp;
            <label id='btn_nnscore' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Score')}}</label>
          </div>
          <div class='row' style='font-size:5pt'>
            &nbsp;
          </div>
          <div class='row justify-content-center'>
            <label id='btn_back10' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Back 10')}}</label>&nbsp;
            <label id='btn_prev' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Prev')}}</label>&nbsp;
            <label id='btn_next' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Next')}}</label>&nbsp;
            <label id='btn_fwd10' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Fwd 10')}}</label>
          </div>
          <div class='row justify-content-center'>
            <label id='btn_first' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('First')}}</label>&nbsp;
            <label id='btn_last' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Last')}}</label>
          </div>
          <div class='row justify-content-center'>
            <label id='btn_tgl_selfplay' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Self Play')}}</label>
          </div>
          <div class='row' style='font-size:5pt'>
            &nbsp;
          </div>
          <div class='row justify-content-center'>
            <label id='btn_save' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Save Sgf')}}</label>&nbsp;
            <form method='post' enctype='multipart/form-data'>
              <label class='btn btn-outline-dark btn-file' style='font-size:11pt;'>
                {{tr('Load Sgf')}}  <input type='file' id='sgf-file' style='display:none'>
              </label>
            </form>
          </div>
          <!-- <div class='row justify-content-center'>
               </div> -->
          <div class='row' style='font-size:5pt'>
            &nbsp;
          </div>
          <div class='row justify-content-center'>
            <label id='btn_clear_var' class='btn btn-outline-dark' style='font-size:11pt;'>{{tr('Back to Main Line')}}</label>
          </div>
        </div>                  <!--right container-->
      </td>                     <!--right-->
    </tr></table>

  <!-- Modal dialog to pick komi and handicap -->
    <div class='modal fade' id='handiModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='komi_handi_heading'>{{tr('New Game')}}</h5>
            <button id='cancel_new_game' type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body'>
            <table>
              <tr><td>{{tr('Handicap')}}</td><td>&nbsp;&nbsp;</td><td>{{tr('Komi')}}</td></tr>
              <tr>
                <td>
                  <div class='dropdown'>
                    <button class='btn btn-secondary dropdown-toggle' type='button' id='handi_menu'
                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                      {{tr('Handicap')}}
                    </button>
                    <div class='dropdown-menu' aria-labelledby='handi_menu'>
                      <a id='handi_0' class='dropdown-item'>0</a>
                      <a id='handi_2' class='dropdown-item'>2</a>
                      <a id='handi_3' class='dropdown-item'>3</a>
                      <a id='handi_4' class='dropdown-item'>4</a>
                      <a id='handi_5' class='dropdown-item'>5</a>
                      <a id='handi_6' class='dropdown-item'>6</a>
                      <a id='handi_7' class='dropdown-item'>7</a>
                      <a id='handi_8' class='dropdown-item'>8</a>
                      <a id='handi_9' class='dropdown-item'>9</a>
                    </div>
                  </div>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                  <div class='dropdown'>
                    <button class='btn btn-secondary dropdown-toggle' type='button' id='komi_menu'
                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                      {{tr('Komi')}}
                    </button>
                    <div class='dropdown-menu' aria-labelledby='komi_menu'>
                      <a id='komi_m505' class='dropdown-item'>-50.5</a>
                      <a id='komi_m405' class='dropdown-item' href='#'>-40.5</a>
                      <a id='komi_m305' class='dropdown-item' href='#'>-30.5</a>
                      <a id='komi_m205' class='dropdown-item' href='#'>-20.5</a>
                      <a id='komi_m105' class='dropdown-item' href='#'>-10.5</a>
                      <a id='komi_05' class='dropdown-item' href='#'>&nbsp;0.5</a>
                      <a id='komi_75' class='dropdown-item' href='#'>&nbsp;7.5</a>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <br>
            <div align='left'>
              {% if current_user.data['username'].strip().lower().startswith('guest') %}
                &nbsp;&nbsp;
                <label id='btn_tgl_guest' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Guest (10 blocks)')}}</label>
              {% endif  %}
              &nbsp;&nbsp;
              <label id='btn_tgl_fast' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Fast (20 blocks)')}}</label>
              &nbsp;&nbsp;
              <label id='btn_tgl_strong' class='btn btn-outline-dark' style='font-size:8pt;'>{{tr('Strong (40 blocks)')}}</label>
            </div>
            <div id='donate_modal'> </div>
            <div id='strong_time'> </div>
          </div>
          <div class='modal-footer'>
            <button id='game_start' type='button' class='btn btn-primary' data-dismiss='modal'>Go!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- General purpose modal popup (alert box) -->
    <div class='modal fade' id='alertbox' tabindex='-1' role='dialog' aria-hidden='true'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 id='alertbox_title' class='modal-title'>Very Important Message</h5>
          </div>
          <div class='modal-body'>
            <span id='alertbox_message'> </span>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-primary' data-dismiss='modal'>Ok</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block js %}
  <!-- Entry Point -->
  <script type='text/javascript' src='static/small/board.js'></script>
  <script type='text/javascript'>
   $(function () {
     //main( JGO, new AhauxUtils( d3, $), {mobile:false} )
     main( JGO, axutil, {mobile:false} )
   })
  </script>
{% endblock js %}
