<!DOCTYPE HTML>

{% block pre %}
  <script type='text/javascript'>
   /* Filename: katago-gui/layout_noheader.tmpl
    * Author: AHN
    * Creation Date: Sep, 2020
    */
  </script>
{% endblock pre %}

<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='description' content='Play Go Against KataGo'>
    <meta name='keywords' content='Go,Igo,Goe,Baduk,Weiqi,AI,KI,Deep Learning,Neural Networks,Artificial Intelligence'>
    <meta name='author' content='Andreas Hauenstein'>

    <title>Play Go Against KataGo</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Standard frameworks -->
    <script src='https://code.jquery.com/jquery-3.4.0.min.js'> </script>
    <!-- <script src=http://code.jquery.com/ui/1.12.1/jquery-ui.min.js </script> -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://d3js.org/d3.v5.min.js'></script>
    <script src="static/reconnecting-websocket.min.js"></script>

    <!-- Our own stuff -->
    <script src='static/ahaux_utils.js?rand={{ rrand() }}'></script>
    <script> const axutil = new AhauxUtils( d3, $) </script>
    <script src='static/jgoboard-latest.js'></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet'
          href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
          integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
          crossorigin='anonymous'>
    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="main.css") }}'>
    {% block css %}
    {% endblock css %}

  </head>

  <body style='left:0; margin:0; padding:0;'>
    <table class='center' style='width:100%'>
      <tr style='background-color:green'>
        <td>&nbsp;</td>
      </tr>
      <tr><td>
        {% block content %}
        {% endblock content %}
      </td></tr>
    </table>

    <!-- Any other js we want to add -->
    {% block js %}
    {% endblock js %}

  </body>
</html>
