<!DOCTYPE HTML>

{% block pre %}
  <script type='text/javascript'>
   /* Filename: katago-gui/layout.tmpl
    * Author: AHN
    * Creation Date: Jul, 2020
    */
  </script>
{% endblock pre %}

<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='description' content='Study With KataGo'>
    <meta name='keywords' content='Go,Igo,Goe,Baduk,Weiqi,AI,KI,Deep Learning,Neural Networks,Artificial Intelligence'>
    <meta name='author' content='Andreas Hauenstein'>

    <title>Study With KataGo</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	  <!-- Global site tag (gtag.js) - Google Analytics -->
	  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139708851-3"></script>
	  <script>
	   window.dataLayer = window.dataLayer || [];
	   function gtag(){dataLayer.push(arguments);}
	   gtag('js', new Date());

	   gtag('config', 'UA-139708851-3');
	  </script>

    <!-- Standard frameworks -->
    <script src='https://code.jquery.com/jquery-3.4.0.min.js'> </script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://d3js.org/d3.v5.min.js'></script>

    <!-- Our own stuff -->
    <script type='text/javascript' src='static/ahaux_utils.js?rand={{ rrand() }}'></script>
    <script type='text/javascript'> const axutil = new AhauxUtils( d3, $) </script>
    <script type='text/javascript' src='static/jgoboard-latest.js'></script>

    <!-- Main entry point -->
    <script type='text/javascript' src='static/main.js?rand={{ rrand() }}'></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet'
          href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
          integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
          crossorigin='anonymous'>
    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="main.css") }}'>
    {% block css %}
    {% endblock css %}

  </head>

  <body style='left:0; margin:0; padding:0;'>
    {% if not home %}
      <table class='center' style='width:100%'>
        <!-- Page Header -->
        <tr style='background-color:green'>
          <td width='20px'>&nbsp;</td>
          <td  align='left'>
            <a class='hlink' style='font-size:20pt' href="{{ url_for('index') }}">
              KataGui <span id='version' style='font-size:9pt'>0.0.0</span></a>
          </td>
        </tr>
        <tr><td colspan='2'>
    {% else %}
          <!-- <h1 style='color:red'> KATAGO IS DOWN. NO ELECTRICITY IN SAN MATEO, CA, USA. </h1> -->
          <table class='center' style='width:100%' style='background-color:green'>
            <!-- Page Header -->
            <tr style='background-color:green'>
              <td width='20px'>&nbsp</td>
              <td id='homelogo' align='left' width='200px' style='background-color:green'>
                <a class='hlink font-l' href="{{ url_for('index') }}">
                  KataGui <span id='version' class='font-s'>0.0.0</span></a>
              </td>
              <td align='right' style='background-color:green'>
                {% if logged_in() %}
                  <a class='hlink font-m' href="{{ url_for('account') }}">{{tr('Account')}}</a>&nbsp;&nbsp;&nbsp;
                  <a class='hlink font-m' href="{{ url_for('logout') }}">{{tr('Logout')}}</a>&nbsp;&nbsp;&nbsp;
                  <script> axutil.settings( 'logged_in',true) </script>
                {% else %}
                  <a class='hlink font-m' href="{{ url_for('login') }}">{{tr('Login')}}</a>&nbsp;&nbsp;&nbsp;
                  <a class='hlink font-m' href="{{ url_for('register') }}">{{tr('Register')}}</a>&nbsp;&nbsp;&nbsp;
                  <script> axutil.settings( 'logged_in',false) </script>
                {% endif %}
                <a class='hlink font-m' style='font-size:25pt;' href='{{ url_for("about") }}'>{{tr('About')}}</a>
              </td>
              <td width='20px' class=''>&nbsp;</td>
            </tr>
            <tr><td colspan='4' style='height:5px'></td></tr>
            <tr>
              <td width='20px'></td>
              <td align='left'>
                <a class='hlink' href="{{ url_for('korean') }}">
                  <img class='flag' border='0' height='30px' src='static/kor.png'></a>
                  <a style='padding-left:20px' class='hlink' href="{{ url_for('english') }}">
                    <img class='flag' border='0' height='30px' src='static/eng.png'></a>
              </td>
              {% if logged_in() %}
                <td class='font-m' align='right'>{{ current_user.data["username"] }}</td>
              {% else %}
                <td class='font-m' align='right'>{{tr('Guest')}}</td>
              {% endif %}
              <td width='20px'></td>
            </tr>
            <tr><td colspan='4'>
    {% endif %}
    {% block content %}
    {% endblock content %}
            </td></tr>
          </table>
          <script>
           $('#version').html(VERSION)
           var lfont = '20pt'
           var mfont = '12pt'
           var sfont = '9pt'
           if (axutil.isMobile()) {
             lfont = '35pt'
             mfont = '30pt'
             sfont = '20pt'
             $('#homelogo').width('300px')
             $('.flag').height('60px')
           }
           $('.font-l' ).each( function( index ) { this.style.fontSize = lfont } )
           $('.font-m' ).each( function( index ) { this.style.fontSize = mfont } )
           $('.font-s' ).each( function( index ) { this.style.fontSize = sfont } )
          </script>

          <!-- Any other js we want to add -->
          {% block js %}
          {% endblock js %}

  </body>
</html>
