<!DOCTYPE HTML>

{% block pre %}
  <script type='text/javascript'>
   /* Filename: katago-gui/layout_watch.tmpl
    * Author: AHN
    * Creation Date: Jul, 2020
    */
  </script>
{% endblock pre %}

<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='description' content='Play Go Against KataGo'>
    <meta name='keywords' content='Go,Igo,Goe,Baduk,Weiqi,AI,KI,Deep Learning,Neural Networks,Artificial Intelligence'>
    <meta name='author' content='Andreas Hauenstein'>

    <title>Play Go Against KataGo</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Standard frameworks -->
    <script src='https://code.jquery.com/jquery-3.4.0.min.js'> </script>
    <!-- <script src=http://code.jquery.com/ui/1.12.1/jquery-ui.min.js </script> -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://d3js.org/d3.v5.min.js'></script>
    <script src="static/reconnecting-websocket.min.js"></script>

    <!-- Our own stuff -->
    <script type='text/javascript' src='static/ahaux_utils.js?v=307a'></script>
    <script type='text/javascript'> const axutil = new AhauxUtils( d3, $) </script>
    <script type='text/javascript' src='static/jgoboard-latest.js'></script>

    <!-- Watch entry point -->
    <script type='text/javascript' src='static/watch.js?v=307'></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet'
          href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
          integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
          crossorigin='anonymous'>
    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="main.css") }}'>
    {% block css %}
    {% endblock css %}

  </head>

  <body style='left:0; margin:0; padding:0;'>
    <table class='center' style='width:100%'>
      <!-- Page Header -->
      <tr style='background-color:green'>
        <td width='20px'>&nbsp;</td>
        <td  align='left'>
          <a class='hlink font-l' href="{{ url_for('index') }}">
            KataGui <span id='version' class='font-s'>0.0.0</span></a>
        </td>
        <td width='20px' class=''></td>
      </tr>
      <tr><td colspan='3' style='height:5px'></td></tr>
      <tr>
        {% if logged_in() %}
          <td colspan='2' class='font-m' align='right'>{{ current_user.data["username"] }} &nbsp;</td>
        {% else %}
          <td colspan='2' class='font-m' align='right'>{{tr('Guest')}} &nbsp;</td>
        {% endif %}
        <td width='20px' class=''></td>
      </tr>
      <tr><td colspan='2'>
        {% block content %}
        {% endblock content %}
      </td></tr>
    </table>
    <script>
     $('#version').html(VERSION)
     var lfont = '20pt'
     var mfont = '12pt'
     var sfont = '9pt'
     if (axutil.isMobile()) {
       lfont = '36pt'
       mfont = '20pt'
       sfont = '20pt'
       $('#homelogo').width('300px')
       $('.flag').height('60px')
     }
     $('.font-l' ).each( function( index ) { this.style.fontSize = lfont } )
     $('.font-m' ).each( function( index ) { this.style.fontSize = mfont } )
     $('.font-s' ).each( function( index ) { this.style.fontSize = sfont } )
    </script>

    <!-- Any other js we want to add -->
    {% block js %}
    {% endblock js %}

  </body>
</html>
