<!-- Settings overlay -->

<style>
    #div_settings {
        text-align: center;
        background-color: #e0e0e0;
        color: #1a1a1a;
        border: 0.1rem solid green;
        border-radius: 0.5rem;
        padding: 1rem 1rem;
    }

    #div_settings td {
        vertical-align: middle;
    }


    /* CSS SLIDER from https://www.w3schools.com/howto/howto_css_switch.asp */
    /*----------------------------------------------------------------------*/

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 2.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-top: 0;
    }

    /*
    #div_settings .switch {
        transform: translateY(4px);
    } */

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        vertical-align: middle;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #aaaaaa;
        -webkit-transition: .1s;
        transition: .1s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 0.1rem;
        bottom: 0.1rem;
        background-color: white;
        -webkit-transition: .1s;
        transition: .1s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
        transform: translateX(1rem);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 0.5rem;
    }

    .slider.round:before {
        border-radius: 0.5rem;
    }
</style>


<!-- HTML -->
<div id="div_settings" class="ahx-overlay" style="display:none;">
    <table style='margin:auto auto;'>
        <tr>
            <td colspan='2' align='left'>
                {{tr('Self Play Speed:')}}
            </td>
        </tr>
        <tr>
            <td colspan='2' style='padding-top:0.5rem;'>
                <table>
                    <tr>
                        <td style=' padding-bottom:0.6rem;'>
                            <label id='btn_tgl_selfplay_fast' class='btn btn-outline-dark'
                                style='font-size:1rem;'>{{tr('Fast')}}</label>
                        </td>
                        <td style='padding-left:1rem; padding-bottom:0.6rem;'>
                            <label id='btn_tgl_selfplay_normal' class='btn btn-outline-dark'
                                style='font-size:1rem;'>{{tr('Medium')}}</label>
                        </td>
                        <td style='padding-left:1rem; padding-bottom:0.6rem;'>
                            <label id='btn_tgl_selfplay_slow' class='btn btn-outline-dark'
                                style='font-size:1rem;'>{{tr('Slow')}}</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_show_emoji' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem;'>
                &nbsp; {{tr('Show emoji')}} ( Ctrl-e )
            </td>
        </tr>
        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_show_prob' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem'>
                &nbsp; {{tr('Show probability')}} ( Ctrl-p )
            </td>
        </tr>
        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_show_best_moves' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem'>
                &nbsp; {{tr('Show best moves')}} ( Ctrl-b )
            </td>
        </tr>
        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_show_best_ten' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem'>
                &nbsp; {{tr('Show best 10 (A-J)')}} ( Ctrl-t )
            </td>
        </tr>

        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_disable_ai' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem'>
                &nbsp; {{tr('Disable AI')}} ( Ctrl-a )
            </td>
        </tr>

        <tr>
            <td>
                <label class='switch'>
                    <input id='opt_diagrams' type='checkbox'>
                    <span class='slider round'></span>
                </label>
            </td>
            <td style='text-align:left;font-size:1rem'>
                &nbsp; {{tr('Enable Diagrams')}} ( Ctrl-d )
            </td>
        </tr>
        <tr>
            <td colspan='2' align='center' style='padding-top:0.5rem;'>
                <label id='btn_settings_done' class='btn btn-outline-dark'
                    style='font-size:1rem;margin-top:1rem;'>{{tr('Save')}}</label>
            </td>
        </tr>
    </table>
</div>