<!-- Settings overlay -->

<style>
    #div_settings {
        position: fixed;
        user-select: auto;
        left: 50%;
        /* anchor at the horizontal center */
        transform: translateX(-50%);
        width: max-content;
        top: 5vh;
        z-index: 20;

        text-align: center;
        background-color: #e0e0e0;
        color: #1a1a1a;
        border: 2px solid green;
        border-radius: 12px;
        padding: 24px 50px;
        margin: 2rem auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        max-height: 80dvh;
        /*overflow-y: auto;*/
        place-items: center;
        overflow: hidden;
    }

    /* Stupid bootstrap makes my button gray */
    #btn_settings_done.btn.btn-outline-dark {
        background-color: transparent !important;
        background-image: none !important;
        /* kill gradient */
    }

    /* kill the “stuck darker” look from focus/active/hover */
    #btn_settings_done.btn.btn-outline-dark:focus,
    #btn_settings_done.btn.btn-outline-dark:active,
    #btn_settings_done.btn.btn-outline-dark.active,
    #btn_settings_done.btn.btn-outline-dark:hover {
        background-color: transparent !important;
        background-image: none !important;
        color: #212529 !important;
        /* Bootstrap dark */
        border-color: #212529 !important;
        box-shadow: none !important;
        /* remove glow */
        outline: none !important;
    }

    /* iOS tap gray */
    #btn_settings_done {
        -webkit-tap-highlight-color: transparent;
    }


    /* CSS SLIDER from https://www.w3schools.com/howto/howto_css_switch.asp */
    /*----------------------------------------------------------------------*/

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        /*    width: 60px;
        height: 34px; */
        width: 112px;
        height: 64px;
        touch-action: manipulation; 
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    #div_settings .switch {
        /*transform: translateY(4px);*/
        margin-top:4px;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #aaaaaa;
        /*    -webkit-transition: .1s;
        transition: .1s; */
    }

    .slider:before {
        position: absolute;
        content: "";
        /*        height: 30px;
        width: 30px; */
        height: 56px;
        width: 56px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        /*    -webkit-transition: .1s;
        transition: .1s; */
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        /*        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px); */
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
    }

    /* Rounded sliders */
    .slider.round {
        /*border-radius: 17px; */
        border-radius: 31px;
    }

    /*    .slider.round:before {
        border-radius: 50%;
    }*/
</style>


<!-- HTML -->
<div id="div_settings" style="display:none;">
    <div id='div_scroller' style='flex: 1 1 auto;
    min-height:0;
    overflow:auto;
    max-height:80dvh; 
-webkit-overflow-scrolling: touch; '>
        <table style='margin:auto auto;'>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr style='font-size:2rem;'>
                <td colspan='2' align='left'>
                    {{tr('Self Play Speed:')}}
                </td>
            </tr>
            <tr>
                <td colspan='2' style='padding-top:1rem;'>
                    <table>
                        <tr>
                            <td> <label id='btn_tgl_selfplay_fast' class='btn btn-outline-dark'
                                    style='font-size:2rem;'>{{tr('Fast')}}</label> </td>
                            <td style='padding-left:2rem'>
                                <label id='btn_tgl_selfplay_normal' class='btn btn-outline-dark'
                                    style='font-size:2rem;'>{{tr('Medium')}}</label>
                            </td>
                            <td style='padding-left:2rem'>
                                <label id='btn_tgl_selfplay_slow' class='btn btn-outline-dark'
                                    style='font-size:2rem;'>{{tr('Slow')}}</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_show_emoji' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem;'>
                    &nbsp; {{tr('Show emoji')}} ( Ctrl-e )
                </td>
            </tr>
            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_show_prob' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem;'>
                    &nbsp; {{tr('Show probability')}} ( Ctrl-p )
                </td>
            </tr>
            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_show_best_moves' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem;'>
                    &nbsp; {{tr('Show best moves')}} ( Ctrl-b )
                </td>
            </tr>
            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_show_best_ten' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem;'>
                    &nbsp; {{tr('Show best 10 (A-J)')}} ( Ctrl-t )
                </td>
            </tr>

            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_disable_ai' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem'>
                    &nbsp; {{tr('Disable AI')}} ( Ctrl-a )
                </td>
            </tr>

            <tr>
                <td>
                    <label class='switch'>
                        <input id='opt_diagrams' type='checkbox'>
                        <span class='slider round'></span>
                    </label>
                </td>
                <td style='text-align:left;font-size:2rem'>
                    &nbsp; {{tr('Enable Diagrams')}} ( Ctrl-d )
                </td>
            </tr>

            <tr>
                <td colspan='2' align='center' style='padding-top:1rem;'>
                    <button id="btn_settings_done" type="button" class="btn btn-outline-dark" style="font-size:2rem;">
                        {{tr('Save')}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>