{% extends 'layout_watch.tmpl' %}

{% block pre %}
<script type='text/javascript'>
  /* Filename: templates/watch.tmpl
   * Author: AHN
   * Creation Date: Aug, 2020
   * A board to watch other peoples' games
   */
</script>
{% endblock pre %}

{% block css %}
<style>
  .btn {
    background-color: #c0d0c0;
    border-width: 1;
    border-color: #13751a;
  }

  /* Scrollable div */
  div.scroll {
    background-color: white;
    /* width: 600px; */
    /* height: 150px; */
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }

  /* On state */
  #btn_clear_var.btn-on {
    background-color: #2c9d45;
    color: black;
  }

  /* Hover while on */
  #btn_clear_var.btn-on:hover {
    background-color: #2e3338;
    color: white;
  }

  .boardwrapper {
    width: 100%;
  }

  .boardwrapper canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
{% endblock css %}

{% block content %}
{% if 0 and current_user.data['username'].strip().lower() in ['acm','ahn'] %}
<div id='debug' style='font-size:10pt'>
  debug
</div>
{% endif %}
<div class='center' style='display:grid; grid-template-columns:12rem 30rem 18rem; gap:1rem;width:fit-content;padding-left:1rem;padding-right:1rem;'>

  <!-- left (chat) -->
  <!-- ----------- -->
  <div style='display:grid; grid-template-rows:30rem 2rem; gap:1rem; margin-top:1.5rem;'>
    <!-- Chat output -->
    <div id='chat_output' class='scroll'
      style='font-size:11pt;background-color:white;text-align:left;border:1px solid green'>
    </div>
    <!-- Chat input -->
    <form id='chat_input_form'>
      <input id='chat_input_text' type='text' placeholder="{{tr('Type here')}}"
        style='font-size:11pt;background-color:white;width:100%;padding-left:20px' autofocus />
      <input type="submit" style="display:none" /> <!-- submit on enter -->
    </form>
  </div>

  <!-- middle (the board) -->
  <!-- ------------------ -->
  <div style='display:grid; grid-template-rows:1rem 30rem 6rem; gap:0.5rem;'>
    <div id='game_info' style='font-size:0.75rem;'> </div>
    <div id='board' class='xred-border boardwrapper'>
    </div>
    <!-- Text under board -->
    <div style='display:grid; grid-template-columns:1fr 1fr 1fr' class='xred-border'>
      <div id='movenum' style='font-size:0.75rem;'>
      </div>
  
      <div style='display:grid; grid-template-rows:1rem 4rem;'>
        <div id='bestscore' style='font-size:0.75rem;'></div>
        <div class=xred-border id='status' style='font-size:0.75rem;'></div>
      </div>
  
      <div>
      </div>
    </div>
  </div>

  <!--- right (remote control) -->
  <!-- ----------------------- -->
  <div class='xblue-border' style='display:grid; grid-template-rows:auto auto auto auto auto auto auto auto 1fr; gap:0rem;'>
    <div class='xred-border'>
      <img id='img_bot' src='static/kata.png' style='height:60px'>
      <div id='descr_bot'>
        KataGo 20 blocks<br>2020-05-30
      </div>
    </div>
    <!-- Buttons -->
    <div style='padding-top:1rem;'>
    {% if live == '1' %}
      <label id='btn_tgl_live' class='btn btn-outline-dark ahaux_on' style='font-size:1rem;'>{{tr('Live')}}</label>
    {% endif %}
    </div>
    <div>
      <label id='btn_best' class='btn btn-outline-dark' style='font-size:1rem;'>{{tr('Best')}}</label>&nbsp;
      <label id='btn_nnscore' class='btn btn-outline-dark' style='font-size:1rem;'>{{tr('Score')}}</label>
    </div>
    <div style='padding-top:1rem;'>
      <label id='btn_back10' class='btn btn-outline-dark' style='font-size:0.75rem;white-space:nowrap'>{{tr('Back
        10')}}</label>&nbsp;
      <label id='btn_prev' class='btn btn-outline-dark'
        style='font-size:0.75rem;white-space:nowrap'>{{tr('Prev')}}</label>&nbsp;
      <label id='btn_next' class='btn btn-outline-dark'
        style='font-size:0.75rem;white-space:nowrap'>{{tr('Next')}}</label>&nbsp;
      <label id='btn_fwd10' class='btn btn-outline-dark' style='font-size:0.75rem;white-space:nowrap'>{{tr('Fwd
        10')}}</label>
    </div>
    <div>
      <label id='btn_first' class='btn btn-outline-dark' style='font-size:0.75rem;'>{{tr('First')}}</label>&nbsp;
      <label id='btn_last' class='btn btn-outline-dark' style='font-size:0.75rem;'>{{tr('Last')}}</label>
    </div>
    <div style='padding-top:1rem;'>
      <label id='btn_save' class='btn btn-outline-dark' style='font-size:1rem;'>{{tr('Save Sgf')}}</label>&nbsp;
    </div>
    <div style='padding-top:1rem;'>
      <label id='btn_clear_var' class='btn btn-outline-dark' style='font-size:1rem;'>{{tr('Back to Main
        Line')}}</label>
    </div>
    <div>&nbsp;</div>
  </div> <!-- right -->
  </div>

<!-- General purpose modal popup (alert box) -->
<div class='modal fade' id='alertbox' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 id='alertbox_title' class='modal-title'>&nbsp;</h5>
      </div>
      <div class='modal-body'>
        <span id='alertbox_message'> </span>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<!-- Entry Point -->
<script type='text/javascript' src='static/large/board.js'></script>
<script type='text/javascript'>
  $(function () {
    watch(JGO, axutil, '{{ game_hash }}', { mobile: false, live: {{ live }} })
   })
</script>
{% endblock js %}