{% extends 'layout_watch.tmpl' %}

{% block pre %}
  <script type='text/javascript'>
   /* Filename: templates/watch_mobile.tmpl
    * Author: AHN
    * Creation Date: Sep, 2020
    * A board to watch other peoples' games on a phone.
    */
  </script>

{% endblock pre %}

{% block css %}
  <style>
   /* Disable hover color change on buttons */
   .btn:hover { background-color:#CCCCCC;  color:#343A40; }
  </style>
{% endblock css %}

{% block content %}
  <table class='center'>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td id='descr_bot' style='font-size:22pt;text-align:center'> &nbsp; </td></tr>
    <tr><td id='game_info' style='font-size:22pt;text-align:center'> &nbsp; </td></tr>

    <tr><td id='board'> </td></tr>
    <!-- Status and Emoji -->
    <!-- <tr><td> &nbsp; </td></tr> -->
    <tr style='transform:translate(0,-10px)'><td>
      <div class='container-fluid'>
        <div class='row center'>
          <div id='movenum' class='col-3' style='font-size:26pt;margin:auto'> &nbsp; </div>
          <div id='status' class='col-6' style='font-size:26pt;margin:auto'> &nbsp; </div>
          <div id='emo' class='col-3' style='font-size:60pt;margin:auto'> &nbsp; </div>
        </div>
      </div>
    </td></tr>
    <!-- Buttons -->
    <!-- Live Best Prev Next -->
    <tr><td>
      <div>
        <table class='center'><tr>
          {% if live == '1' %}
            <td>
              <label id='btn_tgl_live' class='btn btn-outline-dark ahaux_on' style='font-size:35pt;'>{{tr('Live')}}</label>
              &nbsp;&nbsp;
            </td>
          {% endif %}
          </td> <td>
              <label id='btn_best' class='btn btn-outline-dark' style='font-size:35pt'>{{tr('Best')}}</label>
              &nbsp;&nbsp;
            </td><td>
            <label id='btn_prev' class='btn btn-outline-dark' style='font-size:35pt'>{{tr('Prev')}}</label>
            &nbsp;&nbsp;
          </td><td>
            <label id='btn_next' class='btn btn-outline-dark' style='font-size:35pt'>{{tr('Next')}}</label>
          </td>
        </tr></table>
      </div>
    </td></tr>
    <!-- Nav Buttons -->
    <tr><td>
      <div>
        <label id='btn_clear_var' class='btn btn-outline-dark' style='font-size:22pt;'>{{tr('Back to Main Line')}}</label>
        &nbsp;
        <label id='btn_nnscore' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('Score')}}</label>
      </div>
    </td></tr>
    <!-- More Nav Buttons -->
    <tr><td> &nbsp; </td></tr>
    <tr><td>
      <div>
        <label id='btn_first' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('First')}}</label>
        <label id='btn_back10' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('Back 10')}}</label>
        <label id='btn_fwd10' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('Fwd 10')}}</label>
        <label id='btn_last' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('Last')}}</label>
      </div>
    </td></tr>
    <!-- Save sgf -->
    <tr><td> &nbsp; </td></tr>
    <tr><td>
      <div>
        <table class='center'><tr>
          <td>
            <label id='btn_save' class='btn btn-outline-dark' style='font-size:22pt'>{{tr('Save Sgf')}}</label>
          </td>
        </tr> </table>
      </div>
    </td></tr>
  </table>

  <!-- General purpose modal popup (alert box) -->
  <div class='modal fade' id='alertbox' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 id='alertbox_title' class='modal-title' style='font-size:24pt'>Very Important Message</h5>
        </div>
        <div class='modal-body'  style='font-size:24pt'>
          <span id='alertbox_message'> </span>
        </div>
        <div class='modal-footer'>
          <button style='font-size:24pt' type='button' class='btn btn-primary' data-dismiss='modal'>Ok</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <!-- Entry Point -->
  <script type='text/javascript' src='static/large/board.js'></script>
  <script type='text/javascript'>
   $(function () {
     watch( JGO, axutil, '{{ game_hash }}', {mobile:true, live:{{ live }} } )
   })
  </script>
{% endblock js %}
