{% extends 'layout_watch.tmpl' %}

{% block css %}
  <meta name='viewport' content='width=device-width, initial-scale=1'>
{% endblock %}

{% block content %}
  <div id='watchdiv' class='center' tabindex='0'>
    <style> .gametable td { padding:0px 20px 0px 20px } </style>
    <h2 class=center> Games Today </h2>
    <table class='center gametable'>
      <tr><td colspan='3'>
        {% with messages = get_flashed_messages( with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class='alert alert-{{ category }}'>
                {{ message }}
              </div>
            {% endfor %}
          {% else %}
            <br><br>
          {% endif %}
        {% endwith %}
      </td></tr>

      <tr><th>{{tr('User')}}</th><th>{{tr('Handicap')}}</th><th>{{tr('Komi')}}</th><th>{{tr('Moves')}}</th>
        <th>{{tr('Idle')}}</th><th>{{tr('Live')}}</th><th>{{tr('Observers')}}</th><th>{{tr('Link')}}</th></tr>
      {% for game in games %}
        <tr>
          <td align='left' style='padding:0px 10px 0px 10px'> {{ game.username }} </td>
          <td> {{ game.handicap }} </td>
          <td> {{ game.komi }} </td>
          <td> {{ game.nmoves }} </td>
          <td> {{ game.t_idle }} </td>
          <td> {{ '\u2713' if game.live else '\u2717' }} </td>
          <td> {{ game.n_obs }} </td>
          <td> <a href='{{ game.link }}'>Observe</a> </td>
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock content %}
