{% extends 'layout_watch.tmpl' %}

{% block pre %}
  <script type='text/javascript'>
   /* Filename: templates/watch.tmpl
    * Author: AHN
    * Creation Date: Aug, 2020
    * A board to watch other peoples' games
    */
  </script>
{% endblock pre %}

{% block css %}
  <style>
   /* Scrollable div */
   div.scroll {
     background-color: white;
     /* width: 600px; */
     /* height: 150px; */
     overflow-x: hidden;
     overflow-y: auto;
     text-align: center;
     padding: 20px;
   }
  </style>
{% endblock css %}

{% block content %}
  <table style='width:100%;table-layout:fixed'>
    <tr id='tabrow' class='red-border'>
      <td id='tdleft' class='green-border'>
        <table width='100%' height='100%' class='red-border'>
          <tr>
            <td>&nbsp;</td>
            <td class='blue-border'>
              <!-- Chat output -->
              <div id='chat_output' class='scroll'
                   style='height:300px;background-color:white;text-align:left;border:1px solid green;'>
              </div>
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
      <td id='tdboard' class='green-border' style='padding:0 0 0 0'>
        <div id='board' class='green-border' style='display:inline-block'> </div>
      </td>
      <td id='tdright' class='green-border'>
          yyyyy
      </td>
  </table>


  <!-- General purpose modal popup (alert box) -->
  <div class='modal fade' id='alertbox' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 id='alertbox_title' class='modal-title'>Very Important Message</h5>
        </div>
        <div class='modal-body'>
          <span id='alertbox_message'> </span>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' data-dismiss='modal'>Ok</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <!-- Entry Point -->
  <script type='text/javascript' src='static/small/board.js'></script>
  <script type='text/javascript'>


   $(function () {
     watch( JGO, axutil, '{{ game_hash }}', {mobile:false} )
   })
  </script>
{% endblock js %}
