body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.text-center {
    text-align:center;
}

.red-border { border-style:solid; border-color:red; }
.green-border { border-style:solid; border-color:green; }
.blue-border { border-style:solid; border-color:blue; }
.yellow-border { border-style:solid; border-color:yellow; }
.magenta-border { border-style:solid; border-color:magenta; }
.cyan-border { border-style:solid; border-color:cyan; }
