body {
    background:#cccccc;
    color:#000000
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 5rem;
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.text-center {
    text-align:center;
}

.bg-nav {
  background-color: green
}

.nav-link {
  color: #cbd5db;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link.active {
  font-weight: 500;
}

.red-border { border-style:solid; border-color:red; }
.green-border { border-style:solid; border-color:green; }
.blue-border { border-style:solid; border-color:blue; }
.yellow-border { border-style:solid; border-color:yellow; }
.magenta-border { border-style:solid; border-color:magenta; }
.cyan-border { border-style:solid; border-color:cyan; }
