body {
    background:#cccccc;
    color:#000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 5rem;
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.text-center {
    text-align:center;
}

.hlink {
    text-decoration: none;
    color: white;
}

.hlink:visited {
    text-decoration: none;
    color: white;
}

.hlink:hover {
    text-decoration: none;
    color: #cbd5db;
}

.hlink:active {
    text-decoration: none;
    color: #cbd5db;
}

.glink {
    text-decoration: none;
    color: green;
}

.glink:visited {
    text-decoration: none;
    color: green;
}

.glink:hover {
    text-decoration: none;
    color: #444444;
}

.glink:active {
    text-decoration: none;
    color: #444444;
}


.red-border { border-style:solid; border-color:red; }
.green-border { border-style:solid; border-color:green; }
.blue-border { border-style:solid; border-color:blue; }
.yellow-border { border-style:solid; border-color:yellow; }
.magenta-border { border-style:solid; border-color:magenta; }
.cyan-border { border-style:solid; border-color:cyan; }
